<div>
  <h1>Accueil</h1>
  <p> Notre application vise à accompagner les étudiants dans leurs révisions et plus largement dans leur apprentissage. Pour ce faire, elle rend possible l'accès à une plateforme simple permettant de faciliter la prise de bonnes habitudes.<br><br>Pour ce faire il est possible de stocker des questions/réponses sous forme de cartes dans des decks, et de gérer automatiquement la fréquence à laquelle ces cartes doivent être revues en fonction des résultats précédants et de l'appréciation de l'étudiant.
  <br><br>Le menu des pages se situe en tête de toutes les pages. Le bouton accueil permet de revenir ici, l'onglet résultat donne accés aux résultats précédants, la liste des cours permet de consulter les cartes et le calendrier permettra de consulter le planning prévu des révisions.</p>
</div>
