<div>
  <h1>Bienvenue sur la page d'accueil</h1>
  <h3>Français</h3>
  <p>Notre application vise à accompagner les étudiants dans leurs révisions et plus largement dans leur apprentissage. Pour ce faire, elle rend possible l'accès à une plateforme simple permettant de faciliter la prise de bonnes habitudes.</p>
  
  <p>Pour ce faire, il est possible de stocker des questions/réponses sous forme de cartes dans des decks, et de gérer automatiquement la fréquence à laquelle ces cartes doivent être revues en fonction des résultats précédents et de l'appréciation de l'étudiant.</p>
  
  <p>Le menu des pages se situe en tête de toutes les pages. Le bouton accueil permet de revenir ici, l'onglet résultat donne accès aux résultats précédents, la liste des cours permet de consulter les cartes et le calendrier permettra de consulter le planning prévu des révisions.</p>
  <h3>English</h3>
  <p>This application aims to assist students in their revisions and more broadly in their learning. To do this, it enables access to a simple platform that facilitates the adoption of good habits.</p>
  
  <p>To achieve this, it is possible to store questions/answers in the form of cards in decks, and to automatically manage the frequency at which these cards should be reviewed based on previous results and the student's assessment.</p>
  
  <p>The menu of the pages is located at the top of all pages. The home button allows returning to this page, the results tab gives access to previous results, the list of courses allows viewing the cards, and the calendar will enable consulting the planned revision schedule.</p>

</div>
